body{
  background-color: #c68c53;
  font-family: "Gill Sans", sans-serif;
}
.show-summary{
  display: none;
}
.order-list{
  display: none;
}
li{
  color: #ffcc00;
  cursor: pointer;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.display{
  margin-top: 10vh;
  margin-bottom: 10vh;
}